.assessment_container{overflow-x: hidden;display: flex;background-color:#F6F8FA;height: 100vh;max-width: 100%;}
.assessment_banner{width: calc(100% - 142px);background-color:#ffffff;margin-left: 20px;}
aside{background-color:#ffffff;padding: 15px 19px;}
aside nav ul{padding-left:0}
aside nav ul li{text-align: center;list-style: none;font-size: 12px;padding: 15px;font-family: 'Inter', sans-serif;}
aside nav ul li p{padding-top: 4px;}
aside nav ul li:nth-child(4) svg{margin-top: 10px;}
aside nav ul li svg path{fill:#1C4980;}
aside nav ul li:hover{color:#0073E6;background: #E5F1FC;border-radius: 4px;border: 1px solid #0073E6;}
aside nav ul li:hover svg path{fill:#0073E6}
aside nav ul li:hover p{color: #0073E6;}
.dot{margin-left:12px}
.menu_search,.hamburger_icon , .side_nav{display:none}
aside nav ul li:nth-child(3){padding-bottom: 25px;}
.admin{width: 47px;margin: 0 auto;border-radius: 16px; border: 1px solid #D63500 ;background-color:#FBEBEA ;color: #D63500;padding: 2px 5px;font-size: 10px;font-weight: 500;font-family: 'Inter', sans-serif;}
.assessment_head {display: flex;align-items: center;border-bottom: 1px solid #DADCE0;}
.assessment_head h1{color:#1C4980;padding:10px 20px;margin: 16px 0;font-size: 20px;font-family: 'Inter', sans-serif;border-right: 1px solid #DADCE0;}
p.my_assess , p.my_assess_un{font-size: 14px; padding: 20px;}
.my_assess_un{display: none;}
.my_assess:hover span{border-bottom: 3px solid #0073E6;padding-bottom: 28px;color: #0073E6;}
.assessment_overview h2{font-size: 18px;padding: 20px;color:#1C4980;}
.overview_content{border: 1px solid #DADCE0;border-radius: 12px;margin: 20px;}
.overview_content ul, .total,.candidate,.candidate_source{display: flex;}
.overview_content ul li{list-style: none;font-size: 14px;padding: 20px 40px 20px 20px;border-right:1px solid #DADCE0;}
.overview_content ul li:last-child{border-right: none;}
.total img{background-color: #EBE8FD;padding: 9px;border-radius: 6px;}
/* .total p{padding-left: 15px;} */
.green{color:#05C165;font-size: 12px;padding-left: 6px;}
.total_candidate{border-right: 1px solid #DADCE0;padding:0 20px;}
.total_candidate h3 , .email h3 , .attempted_candidate h3,.total h3{font-size: 20px;font-weight: 700;}
.attempted_candidate{padding: 0 20px;}
.email{padding: 0 20px;border-right:1px solid #DADCE0;}
.email:last-child{border-right: none;}
.total{padding-top: 20px;}
.total p{padding-top: 2px;}
.total img , .total svg{margin-right: 6px;}
.new_add_content{background-color: #F6F8FA;border-radius: 12px;width: 33.33%;margin-right: 20px;border: 1px dashed #DADCE0;text-align: center;cursor: pointer;background-color:#F6F8FA;}
.new_assessment_banner{display: flex;padding: 20px;}
.new_assessment_container h2{font-size: 18px;color: #1C4980;padding: 20px;}
.add_assessment{display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100%;}
.add_assessment p{width: 89%;text-align: center;font-size: 12px;}
.add_assessment h3{font-size: 18px;padding: 12px 0;color:#1C4980;}
.add_assessment svg {background-color: #fff;border-radius: 50%;height: 50px;width: 50px;}
.assessment {margin-right: 20px;border: 1px solid #DADCE0;border-radius: 12px;padding: 20px;width: 33.33%;}
.assessment:last-child{margin-right: 0;}
.job_date{display: flex;align-items: center;padding-top: 8px;}
.job_date p{border-right: 1px solid #DADCE0;font-size: 14px;padding-right: 8px;}
.job_date svg{margin:0 5px;}
.job_date span{font-size: 12px;color: #8DA4BF;}
.assessment h3{font-size: 18px;color:#1C4980;padding-top: 10px;}
.assess_menu{display: flex;justify-content: space-between;padding-bottom: 15px;border-bottom: 1px dashed #DADCE0;}
.duration_quest{display: flex;}
.duration_cont h4 ,.share_cont p,.share_content p{font-size: 14px;color:#1C4980;}
.duration_cont{padding-right: 8px;}
.duration_cont p{font-size: 12px;color:#1C4980;}
.duration_share{display: flex;justify-content: space-between;padding-top: 15px;}
.share_container{position: relative;}
.share_container , .share_cont{display: flex;align-items: center;}
.share_cont {border: 1px solid #1C4980;padding: 5px;border-radius: 50px; margin-right: 60px;}
.share_content{border: 1px solid #1C4980;padding: 5px;border-radius: 50px;display: flex;}
.profile_ft{padding: 6px;border-radius: 50%;color:#ffffff;font-size: 14px;background: #6548EE;margin-left: 10px;}
.profile{background: #6548EE;position: absolute;right: 22px;padding: 6px;border-radius: 50%;color:#ffffff;font-size: 14px;}
.profile_2{position: absolute;background-color: #3079E1;right: 10px;padding: 6px;border-radius: 50%;color:#ffffff;font-size: 14px;}
.profile_3{position: absolute;background-color: #E9407A;right:-1px;padding: 6px;border-radius: 50%;color:#ffffff;font-size: 14px;}
/* .create_content {transition: transform 0.3s ease-in-out;display:none;max-width: 596px;height: auto;position: fixed;top: 50%;left: 50%;transform: translate(-50% , -50%);box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);} */
/* .create_content {display:block;max-width: 596px;height: auto;} */
.visible{display:block;border-radius: 8px;}
.create_head{display: flex; justify-content: space-between;align-items: center;border-bottom: 1px solid #DADCE0;}        
.create_head h1{font-size: 20px;padding:20px 30px;}
.create_head svg{margin-right: 20px;cursor: pointer;}
.sub_section_modal{transition: transform 0.3s ease-in-out;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);border-radius: 8px 8px 0 0;}
form{padding: 20px 30px 5px 30px;}
.sub_section_content form{padding: 15px 20px 5px 15px;}
.sub_section_modal{background: #fff;display: none;}
.sub_section_content .create_head svg{background: #FBEBEA;border-radius: 50%;}
.sub_section_content .create_head svg  path{fill:#D63500;}
select{-webkit-appearance: none;-moz-appearance: none;appearance: none; background-image: url("src/assets/keyboard_arrow_down.svg");background-repeat: no-repeat;background-position: right center;}
.create_content input , .create_content select   {width: 531px;padding: 15px;border-radius: 8px;border: 1px solid #DADCE0;margin: 15px 0;}
.sub_section_content input,.sub_section_content select{width: 345px;padding: 15px;border-radius: 8px;border: 1px solid #DADCE0;margin: 15px 0;}
.create_content textarea{margin-top: 15px;width: 531px;padding: 15px;border-radius: 8px 8px 0 0;border: 1px solid #DADCE0;resize: none;}
.sub_section_content textarea{margin-top: 15px;width: 345px;padding: 15px;border-radius: 8px 8px 0 0;border: 1px solid #DADCE0;resize: none;}
select:focus-visible,textarea:focus-visible,input:focus-visible{outline: none;}
.skills{position: relative;}
.skills input[type=text]{position: absolute;left: 0;bottom:-58px;border-top: none;border-radius: 0px 0px 8px 8px;}
.sub_section_content input[type=text]{width: 345px;}
.desc{margin-top: 57px;}
.create_content .submit{width: 531px;padding:10px 30px;background-color:#0073E6;border: none;color:#ffffff;border-radius: 8px;}
.sub_section_content .next{width: 345px;padding:10px 30px;background-color:#0073E6;border: none;color:#ffffff;border-radius: 8px;}
::ng-deep input[type="time"] {appearance: none;-webkit-appearance: none;-moz-appearance: none;}
::ng-deep input[type="time"]::-webkit-calendar-picker-indicator {display: none;}
.skills .skills_list {display: flex;flex-wrap: wrap;column-gap: 10px;row-gap: 10px;position: absolute;top: 51px;left: 16px;}
/* .skills_list_ft{display: flex;position: absolute;bottom: 20px;left: 16px;} */
.skills_list p {font-size: 12px;display: flex;align-items: center;border-radius:22px;background:#DDEDFF;padding: 4px 8px 6px 10px;}
/* , .skills_list_ft p  , .skills_list_ft p span */
.skills_list p span {padding: 2px 0 0 4px;}
.submit_form{border-radius: 0px 0px 8px 8px;padding: 20px 30px;background: #ffffff;box-shadow: 0px -4px 50px 0px rgba(0, 0, 0, 0.09);}
.sub_section_content .submit_form{border-radius: 0px 0px 8px 8px;padding: 20px 30px;background: var( -white);box-shadow: 0px -4px 50px 0px rgba(0, 0, 0, 0.09);padding: 15px;margin-top: 39px;}
/* .create_assessment{background-color:#000;opacity: 0.4;} */
.create_content{background: #fff;}
.share_container span{display: none;}
.assessment:nth-child(4),.assessment:nth-child(5),.assessment:nth-child(6),.assessment:nth-child(7){display: none;}
.create_assessment{display: none;position: fixed;z-index: 9999;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);}
.create_assessment.show{display: block;}
.create_content{background-color: #fefefe;margin: 20px auto;border: 1px solid #888;width: 596px;border-radius: 8px 8px 0 0;}
.create_assessment.show{display:none}










@media (max-width:520px){
    .assessment_head,.hamburger_icon,.side_nav{display: block;}
    .assessment_head h1{border-right: none;}
    .unstop_assessment, .my_assess_un{display: flex;justify-content: space-between;}
    .my_assess{display: none;}
    .my_assess_un{margin-right:15px;}
    .assessment_banner{margin-left: 0;width: 100%;}
    p.my_assess_un:hover ,  .my_assess_un.active{border-bottom: 3px solid #0073E6;color: #0073E6;}
    .new_assessment_banner{flex-direction: column;}
    .new_assessment_container{background-color:#ffffff;}
    .new_add_content{width: 100%;padding: 20px;margin-bottom: 20px;}
    .add_assessment h3{font-size: 18px;}
    .add_assessment p{width: 100%;}
    .assessment{width: 100%;margin-bottom: 20px;padding: 10px;}
    .assessment h3{font-size: 14px;padding-top: 0;}
    .math_assessment{display: flex;justify-content: space-between;align-items: center;}
    .math_head{padding-left: 10px;}
    .job_date{padding-top: 5px;}
    .profile{right: 55px;}
    .profile_2{right:45px;}
    .profile_3{right:33px;}
    .share_container span{display: flex;font-size: 12px;color: #1C4980;}
    .assessment:nth-child(4),.assessment:nth-child(5){display: block;}
    .overview_content{position: relative;
        transition: 0.9s ease-in-out;
        
    }
    .overview_content ul{flex-wrap: wrap;}
    .overview_content ul li{padding: 10px;}
    .overview_content li:nth-child(3) {order: 4;border-top: 1px solid #DADCE0;border-right: none!important; width: 100%;}
    .overview_content li:nth-child(2) {order: 3;border-top: 1px solid #DADCE0;border-right: none!important;width: 100%;}
    .overview_content li:nth-child(1){width: 50%;}
    .overview_content li:nth-child(4) {order: 2;width: 50%;}
    .total h3{font-size: 16px;}
    .total p{font-size: 10px;}
    aside ,.hidden{display:none}
    .email,.attempted_candidate,.total_candidate{padding: 0 7px;}
    .new_head{display: flex;align-items: center;justify-content: space-between;}
    .menu_search{display: flex;align-items: center;padding-right: 20px;}
    .menu_search div{margin-left: 10px;padding: 8px 10px;}
    .menu_search div svg:nth-child(3) path{fill: #1C4980;}
    .menu_search div:hover{border-radius: 50px;border: 1px solid #0073E6;background: #E5F1FC;}
    .sidenav_resp{display: flex;align-items: center;padding-left: 20px;}
    .hamburger_icon{background:#F2F8FE;border-radius: 50px;padding: 8px;}
    .side_nav{position: fixed;top: 0;left: 0;width: 315px;height: 100%;background-color: #ffffff;padding: 20px;box-sizing: border-box;transform: translateX(-100%);transition: transform 0.3s ease-in-out;box-shadow: 0px -4px 50px 0px rgba(0, 0, 0, 0.09);z-index: 999;margin-bottom: 10px;}
    .side_nav.open {transform: translateX(0);}
    .admin_menu{display: flex;}    
    .side_nav ul li.active{color:#0073E6;background: #E5F1FC;border-radius: 10px;border: 1px solid #0073E6;} 
    .side_nav ul li{display: flex;padding: 20px 10px; }
    .side_nav ul li svg path{fill: #1C4980;}
    .side_nav ul li:nth-child(4){border-bottom: 1px dashed #DADCE0;}
    .side_nav ul li p{padding-left: 5px;font-size: 14px;}
    .side_nav ul li.close_menu{justify-content: space-between;align-items: center;}
    .admin{margin-left: 78px;}
    .side_nav ul li:hover{color:#0073E6;background: #E5F1FC;border-radius: 10px;border: 1px solid #0073E6;}
    .assessment_overview h2{display: none;}
    .create_content, .hiddenpopup{display: none;}
    .side_nav ul li.close_menu:hover{border: none;background: none;}
    .sub_section_modal{display: none;position: fixed;z-index: 9999;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);}
    .sub_section_content{background-color: #ffffff;margin: 20px auto;border: 1px solid #888;width: 375px;border-radius: 8px 8px 0 0;transition: transform 0.5s;}
    .sub_section_modal.showSection{display: block; transform: translateY(0);}
    .sub_section_modal.close{transform: translateY(-100%);}
}










