/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,p,span,li,label,input{font-family: 'Inter', sans-serif;}
h1,h2,h3,h3,p,li{color: #1C4980;}